
#header {
    width: 100%;
    height: auto;
    
    &__main{
        position: relative;

        &__logo {
            position: absolute;
            top: 3%;
            left: 5.25%;
        }
        
        &__bg {
            position: relative;
            z-index: -10000;
            img{
                width: 100%;
                height: auto;
            }
        }

        &__vv{
            position: absolute;
            top: 0%;
            right: 5.65%;
            z-index: 10;

            img {
                
                top: 0;
                left: 0;
                .w (100%);
                height: auto;
            }

            &__r {
                z-index: 9999;
        
                p {
                    display: inline;
                }
        
                &--cart,
                &--bar {
                    color: #fff;
        
                    ion-icon {
                        .p-t (41px);
                        font-size: 25px;
                    }
        
                    ion-icon:hover {
                        color: #696969;
                    }
                }
        
                &--cart {
                    &--icon {
                        font-size: 30px;
                        .m-b (16px);
                        .m-r (21px);
                    }
        
                    span:last-child {
                        .position-t-l (relative, -16px, -32px);
                        .font-s-w-c (@lato, 12px, bold, black);
        
                        background: #fff;
                        border-radius: 50%;
                        line-height: 1px;
                        padding: 1.2px 5.5px;
                    }
                }
                
                #myMenuItem {
                    .position-t-r (fixed, 0, 0);
                    .h-w (100%, 100%);
                    opacity: 0.75 !important;
                    z-index: 100;
                    display: none;
                    
                    transition: right 3s linear;
                    
                    .close {
                        .position-t-r (fixed, 0, 0);
                        z-index: 110;
                        float: left;
                        background-color:transparent;
                        .h-w (100%, 100%);
                    }
                
                    ul{
                        .position-t-r (fixed, 0, 0);
                        z-index: 112;
                        list-style: none;
                        .h-w (100%, 70%);
                        float: right;
                
                        background: #696969;
                        
                        li {
                            a {
                                .s-c (17px, white);
                
                                line-height: 30px;
                                padding: 14px 16px;
                                text-decoration: none;
                                display: block;
                            }
                
                            a:hover {
                                background: #3d3d3d;
                            }
                        }
                    }
                }
            }
        }

        &__contact {
            position: absolute;
            top: 42.0%;
            right: 0%;
            z-index: 1;

            text-align: right;
    
            #a1,
            #a2,
            #a3,
            #a4 {
                position: relative;
    
                p {
                    display: inline-block;
                }
    
                p:first-child {
                    .font-s-c (@corm, 24px, #f1ede8);
    
                    text-transform: capitalize;
                    letter-spacing: 2.5px;
                    line-height: 40px;
                }
            }

            each(range(4), {
                #a@{value} {
                    p:last-child {                 
                        .p-l (10px);

                        transition: 1s ease;
                        opacity: 0;
                        
                        color: black;
                    }
                }

                #a@{value}:hover p:last-child {
                    opacity: 1;
                }
            });
        }


        &__banner {
            position: absolute;
            top: 34%;
            left: 19.65%;
            z-index: 1;
    
            &--content {
                .m-l (-1px);
    
                &--year {
                    .font-s-c (@firas, 24px, #696969);
    
                    letter-spacing: 12.5px;
                    text-transform: capitalize;
                    .p-l (1px);
                }

                &--text {
                    .font-s-w-c (@corm, 100px, 600, #333);
                    .m-t (35px);
                    line-height: 100px;
                    font-style: italic;
                    letter-spacing: 30px;
                    text-transform: uppercase;
                }
            }

            &--discover-now {
                .m-t (8.75%);
                .m-l (-2px);
    
                a {
                    .font-s-w-c (@firas, 16px, bold, #fff);
    
                    letter-spacing: 2.36px;
                    text-transform: uppercase;
                    text-align: center;
    
                    background: #333;
                    padding: 14px 29px 15px 29px;
                    border: none;
                }
    
                a:hover {
                    color: #333;
                    background-color: transparent;
                    border: 2px solid #333;
                    padding: 13px 28px;
                }
            }
        }




    }
}